<div class="container">
  <h1>Stupid Coaching</h1>
  <br>
  <p>Ask your coach anything :</p>
  <br>
  <div class="form">
    <form action="answer">
      <input id="input" type="text" name="ask">
      <input id="button" type="submit" value="Ask!">
    </form>
  </div>
</div>
